$mainFont: "Roboto", sans-serif;

// Header
$header-BackgroundColor: #000000;

// Menu
$menu-BackgroundColor: #433b47;
$menu-LinkColor: #edede3;
$menu-LinkSeparatorColor: #726c75;
$menu-LinkFontSize: 1.4rem;
$menu-LinkTagsFontSize: 1.1rem;
$menu-LinkTagsBgcolor: #ff1430;

// SubMenu
$subMenu-arrowColor: #fff;
